/* SCROLL-BAR STYLE */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    visibility: hidden;
    border-radius: 5px;
    background: #909090;
}

.side-bar:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}


/* **************************************************************** */
/* HEADER */
.nav-bar{
    padding: 0 27px;
    justify-content: space-between;
    align-items: center;
}

/* BURGER */
.burger i{
    font-size: 20px;
    color: black;
}

.logo {
    margin: 18px 0;
    width: 90px;
    position: relative;
}

.logo-nation{
    font-size: 10px;
    position: absolute;
    top: -5px;
    right: -15px;
}

.header-burger{
    align-items: center;
    gap: 24px;
}

.burger i:hover, .new-video:hover, .app-youtube:hover, .notifications:hover{
    color: grey;
}


/* SEARCH BAR */
.nav-search{
    align-items: center;
    margin-left: 60px;
    width: 685px;
}

.search-bar{
    flex-grow: 1;
}

.search-bar__input{
    width: 100%;
    font-size: 16px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #d9d9d9;
}

.search-bar__input::-webkit-search-cancel-button{
    font-size: 20px;
}


.search-button{
    background-color: #F5F5F5;
    height: 40px;
    width: 63px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid;;
    border-right: 1px solid;;
    border-bottom: 1px solid;;
    border-color:  #d9d9d9;
    margin-right: 8px;
    flex-shrink: 0;
}

.nav-search i{
    color: black;
    font-size: 18px;
}

.vocal-search{
    background-color: #F5F5F5;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.search-button:hover, .vocal-search:hover{
    background-color: #E5E5E5;    
}

/* CTA */

.header-cta{
    margin-left: 30px;
    align-items: center;
    gap: 32px;
    font-size: 20px;
}

.header-cta .avatar{
    width: 32px;
}

.header-cta .avatar img{
    border-radius: 50%;
}

.notifications{
    position: relative;
}

.number-notification{
    position: absolute;
    top: -5px;
    right: -12px;
    background-color: #c50000;
    border-radius: 999px;
    width: 22px;
    height: 16px;
    text-align: center;
    font-size: 12px;
    color: white;
}

.header-burger>div:hover, .nav-search>div:hover, .header-cta>div:hover {
    cursor: pointer;
}


/* **************************************************************** */
/* SIDEBAR */
.copyright{
    padding: 16px 24px;
    color: #606060;
}

.menu-item:hover{
    background: #f0f0f0;
    cursor: pointer;
}

.menu-item.active{
    background-color: #E5E5E5;
    font-weight: 700;
}

.side-link{
    padding: 0 24px;
    color: #606060;
}

.side-link ul{
    padding-top: 20px;
    flex-wrap: wrap;
    gap:8px;
}

.side-link ul li{
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    line-height: 10px;
}


/* **************************************************************** */
/* MAIN */
.main-container{
    flex-grow: 1;
    overflow: hidden;
}

.play-list-wrapper{
    flex-grow: 1;
    overflow: hidden;
}

/* LIST CATEGOTIE */
.categories{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #d9d9d9;
    padding: 12px 0;
    padding-left: 24px;
    gap: 12px;
    align-items: center;
}

.categories ul{
    display: contents;
    list-style: none;
    font-size: 14px;
}

.categories ul li{
    padding: 6px 15px;
    border-radius: 999px;
    background-color: #F5F5F5;
    border: 1px solid #d9d9d9;
    white-space: nowrap;
    cursor: pointer;
}

.active_cat ~ li:hover{
    background-color: #E5E5E5;    
}

.categories .active_cat{
    background-color: black;
    color: white;
}

.next-categories{
    position: absolute;
    background: linear-gradient(to right, rgba(255,255,255,0.3), rgba(255,255,255,1), white);
    right: 0;
    width: 90px;
    height: 50px;
    text-align: end;
    line-height: 50px;
}

.next-categories i{
    margin-right: 25px;
}


/* PLAY LIST */
.play-list-wrapper{
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 20px 0;
    overflow: auto;
    height: calc(100vh - 120px);
}

.play-list-item{
    width: 24%;
}

.play-list-wrapper ul{
    display: contents;
    list-style: none;
}

.card-header{
    position: relative;
}

.card-header img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    display: block;
}

.video-duration{
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-size: 11px;
    font-weight: bold;
    margin: 4px;
    padding: 1px 4px;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.8);
}

.card-body{
    align-items: flex-start;
    padding: 15px 0;
    gap: 12px;
}

.avatar_user{
    width: 57px;
}

.avatar_user img{
    border-radius: 50%;
}

.card-description .video-name{
    font-size: 16PX;
    font-weight: BOLD;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.nick-name .name{
    font-size: 14px;
    color: #606060;
    margin-right: 2px;
    display: inline;
}

.nick-name .check{
    font-size: 13px;
    color: #606060;
    display: inline;
}

.card-description .info-video{
    color: #606060;
    margin-top: 5px;
}

.info-video>div{
    display: inline-block;
}

.info-video .point{
    margin: 0 5px;
}

.play-list-item .check, .play-list-item .music{
    display: none;
}

.user_verific .check{
    display: inline;
}

.user_music .music{
    display: inline;
}